<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQL추가</title>
</head>
<body>
<ul>
    <li th:each="sql : ${sqlList}">
        <span th:text="${sql.targetName}"></span> : <span th:text="${sql.query}"></span>
    </li>
</ul>


<form th:action="|/sql/save|" th:method="post">
    targetName : <input th:type="text" th:name="targetName"><br>
    query : <input th:type="text" th:name="query"><br>
    <input th:type="submit" th:value="저장">
</form>

<a th:href="@{/}">홈으로</a>
</body>
</html>
