<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DB설정</title>
    <script th:inline="javascript">
        function home() {
            location.href="/"
        }
    </script>
</head>
<body>
<form th:action th:method="post">
    <input th:type="submit" th:value="저장">
    <a th:href="@{/}" th:text="홈"></a>
    <div th:if="${errors?.containsKey('globalError')}">
        <p class="field-error" th:text="${errors['globalError']}">전체 오류 메세지</p>
    </div>
    <br>
    <textarea style="width: 600px; height: 300px;" th:text="${props}" th:name="props"></textarea><br>
    <input th:type="submit" th:value="저장">
    <a th:href="@{/}" th:text="홈"></a>
</form>
</body>
</html>